fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

::placeholder {
  color: $eggplant-washed;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
button {
  border: none;
  font-family: inherit;
  font-size: .875rem;
  line-height: 1;
  padding: 1rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  border: $eggplant-washed solid .125rem;
  width: 100%;
  transition: .25s;

  &:focus {
    outline: none;
    border-color: $eggplant;
  }

  &.dirty {
    border-color: $raspberry;
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}

.form-group {
  margin-bottom: 1rem;
}

.btn {
  background-color: $eggplant;
  color: $white;
}

.btn-2 {
  background-color: $eggplant-washed;
  color: $eggplant;
}

.btn-danger {
  background-color: $raspberry;
  color: $white;
}
