body {
  background: $white;
  color: $eggplant;
  font-size: ms(0);
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.mono { font-family: $mono; }
.serif { font-family: $serif; }

.center {
  margin: 0 auto;
}
