body {
  background: $white;
  color: $eggplant;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.mono { font-family: $mono; }
.serif { font-family: $serif; }

main {
  flex: 1;
}

.center {
  margin: 0 auto;
}

.mw16 {
  max-width: 16rem;
}

.gutters {
  margin: 0 1.25rem;
}

