// Colors
$eggplant: #2B2C5A;
$eggplant-w: #C9CDE3;
$raspberry: #E5476D;
$raspberry-d: darken($raspberry, 50%);
$kiwi: #56D28F;
$kiwi-d: darken($kiwi, 50%);
$white: #fff;
$black: #111;

$fs1: .625rem;
$fs2: .75rem;
$fs3: .875rem;
$fs4: 1rem;

$s1: .625rem;
$s2: .75rem;
$s3: .875rem;
$s4: 1rem;

$box-shadow: 0 0 2rem $eggplant-w;
