// Colors
$white: #fff;
$black: #222;

$eggplant: #2B2C5A;
$eggplant-text: $white;
$eggplant-washed: #E2E5FA;
$lavender: #6C7CE8;
$lavender-text: $eggplant;
$mint: #56D28F;
$mint-text: #1A402C;
$banana: #F4C429;
$banana-text: #40330B;
$raspberry: #E5476D;
$raspberry-text: #40141E;

$mono: 'IBM Plex Mono', monospace;
$serif: 'IBM Plex Serif', serif;
